/*|--- -- ---- -- ---|*/
/*|--- -- MAIN -- ---|*/
/*|--- -- ---- -- ---|*/

main{
    margin-top: 250px;
    margin-bottom: 100px;
    border: 1px solid;
}

/*|--- -- --- -- ---|*/
/*|--- -- BOX -- ---|*/
/*|--- -- --- -- ---|*/

.box h2{
    text-align: center;
}

/*|--- -- BOX - BOX CALENDAR -- ---|*/

.boxCalendar{
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.boxCalendar .calendar,
.boxCalendar .hours{
    box-shadow: 1px 0px 3px #00000049;
    width: 366px;
    height: 550px;
}

/*|--- -- BOX - BOX CALENDAR - CALENDAR -- ---|*/

.calendar{
    text-align: center;
    background-color: #0E6F28;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.calendar .perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendar .perfil .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 32px;
    margin-bottom: 12px;
    overflow: hidden;
}

.calendar .perfil .image img{
    width: 100px;
}

.calendar .perfil span{
    margin-bottom: 33px;
    color: #fff;
    -webkit-text-stroke: .1px;
}

/*!|--- -- Estilos para el calendario -- ---|!*/

.calendar .contentCalendar{
    padding: 0 16px;
}

#header {
    display: flex;
    justify-content: center;
    background-color: #0E6F28;
    margin-top: 10px;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: .5px;
    letter-spacing: 1px;
}

#prevMonthBtn, #nextMonthBtn {
    color: #ffffffc0;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    padding-top: 2px;
}

#weekdays {
    background-color: #0E6F28;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

#weekdays div {
    font-weight: bold;
    margin-bottom: 10px;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: 33px;
    margin-top: 5px; 
    margin-left: 5px;
    color: #fff;
}

.day, .empty-day {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    font-weight: bold;
    font-size: 15px;
}

.empty-day::before{
    content: "-";
    color: #c4f9b950;
    cursor: help;
}

.current-day {
    color: #fff;
    cursor: pointer;
}

.past-day {
    color: #c4f9b950;
    cursor: help;
}

.chooseDay{
    color: #0E6F28;
    -webkit-text-stroke: 1px #0E6F28;
    background-color: #fff;
}

/*|--- -- BOX - BOX CALENDAR - HOURS -- ---|*/

.hours{
    background-color: #fff;
    padding: 30px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.hours h3{
    margin-bottom: 7px;
}

.hours .duration,
.hours select{
    border: 1px solid;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #E5EAF0;
    border: none;
    font-weight: bold;
    color: #707070;
    outline: none;
    box-shadow: 1px 0px 3px #00000049;
}

.hours select{
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.hours select option{
    font-weight: bold;
}

.hours .duration{
    margin-bottom: 38px;
}

.contentHours span{
    font-size: 16px;
    padding-bottom: 20px;
}

.contentHours .setTime{
    margin-top: 20px;
    height: 200px;
    overflow: auto;
}

.contentHours .setTime::-webkit-scrollbar {
    width: 10px;
}

.contentHours .setTime::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.contentHours .setTime::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.contentHours .setTime::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contentHours .setTime .hour{
    border: 1px solid #7070703a;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: #0E6F28;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
}

.contentHours .setTime .choose{
    background-color: #0E6F28;
    color: #fff;
}

.contentHours input[type=button]{
    border: none;
    background-color: #0E6F28;
    color: #fff;
    width: 170px;
    height: 32px;
    border-radius: 7px;
    float: right;
    margin-top: 22px;
    font-size: 16px;
    cursor: pointer;
}