.wrapper{
    position: relative;
}

.pageInstructions{
    position: fixed;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.contentInstructions{
    position: relative;
    width: 570px;
    max-width: 99%;
    border: 1px solid #00000027;
    background-color: #f8f8f8;
    padding: 25px;
    border-radius: 15px;
}

.contentInstructions ion-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 22px;
    cursor: pointer;
}

.contentInstructions h3{
    color: #0000009f;
    margin-bottom: 15px;
}

.contentInstructions p{
    font-size: 15px;
    color: #00000079;
    font-weight: bold;
    text-indent: -15px;
    margin-left: 15px;
}

.contentInstructions .button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contentInstructions .button button{
    padding: 8px 30px;
    border-radius: 12px;
    border: none;
    background-color: #0E6F28;
    color: #f8f8f8;
    font-weight: bold;
    transition: .3s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #ffffff7c;
}

.pageInstructions.hidden{
    display: none;
}

/*|--- -- ---- -- ---|*/
/*|--- -- MAIN -- ---|*/
/*|--- -- ---- -- ---|*/

main{
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*|--- -- MAIN - MAIN TOP -- ---|*/

.mainTop{
    width: 1055px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.mainTop picture img{
    width: 468px;
    max-width: 100%;
}

.mainTop .content{
    width: 390px;
    padding: 0 10px;
}

.mainTop .content h3{
    margin-top: 43px;
    color: #0E6F28;
}

.mainTop .content p{
    margin-top: 18px;
}

.mainTop .content input[type=button]{
    background-color: #0E6F28;
    padding: 10px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*|--- -- ---------- -- ---|*/
/*|--- -- RESPONSIVE -- ---|*/
/*|--- -- ---------- -- ---|*/

@media screen and (max-width: 900px) {
    main{
        margin-top: 200px;
    }

    main .mainTop{
        display: flex;
        flex-direction: column;
    }

    .mainTop picture img{
        width: 400px;
    }

    .mainTop .content{
        max-width: 100%;
    }

    .mainTop .content .button{
        text-align: center;
    }

}

@media screen and (max-width: 470px) {
    .mainTop picture img{
        width: 300px;
    }
}