/*|--- -- ---- -- ---|*/
/*|--- -- MAIN -- ---|*/
/*|--- -- ---- -- ---|*/

main{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*|--- -- MAIN - MAIN TOP -- ---|*/

.mainTop{
    width: 1055px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainTop picture img{
    width: 468px;
    max-width: 100%;
}

.mainTop .content{
    width: 390px;
    padding: 0 10px;
}

.mainTop .content h3{
    margin-top: 43px;
    color: #0E6F28;
}

.mainTop .content p{
    margin-top: 18px;
}

.mainTop .content input[type=button]{
    background-color: #0E6F28;
    padding: 10px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*|--- -- MAIN - MAIN BOT -- ---|*/

.mainBot{
    margin-top: 103px;
    margin-bottom: 80px;
    padding: 0 50px 0 60px;
}

.mainBot h3{
    color: #0000009f;
    margin-bottom: 15px;
}

.mainBot p{
    font-size: 14px;
    color: #00000079;
    font-weight: bold;
    text-indent: -15px;
}

/*|--- -- ---------- -- ---|*/
/*|--- -- RESPONSIVE -- ---|*/
/*|--- -- ---------- -- ---|*/

@media screen and (max-width: 900px) {
    main{
        margin-top: 200px;
    }

    main .mainTop{
        display: flex;
        flex-direction: column;
    }

    .mainTop picture img{
        width: 400px;
    }

    .mainTop .content{
        max-width: 100%;
    }

    .mainTop .content .button{
        text-align: center;
    }

}

@media screen and (max-width: 470px) {
    .mainTop picture img{
        width: 300px;
    }
}