/*|--- -- ---- -- ---|*/
/*|--- -- MAIN -- ---|*/
/*|--- -- ---- -- ---|*/
main{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

main::after{
    display: none;
}

/*|--- -- MAIN - MAIN LEFT -- ---|*/

.mainLeft{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLeft div:first-child{
    padding: 0px 30px;
    font-size: 17px;
    font-weight: bolder;
    width: 500px;
    max-width: 100%;
    color: #0E6F28;
    text-align: center;
}

.mainLeft picture img{
    width: 300px;
    max-width: 99%;
}

.mainLeft .titleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.mainLeft .menuPreguntas{
    border-radius: 8px;
    padding: 20px 30px;
    background-color: #19ac40;
    box-shadow: 1px 1px 3px #0e6f284f;
    max-width: 240px;
    text-align: center;
}

.mainLeft .menuPreguntas ion-icon{
    color: #0E6F28;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    box-shadow: 2px 1px 3px #0E6F28;
}

.mainLeft .menuPreguntas ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.mainLeft .menuPreguntas li a{
    color: #fff;
    font-weight: bolder;
    padding: 2px 8px;
    border-radius: 50%;
    transition: .1s ease-in-out;
}

.menuPreguntas ul li a.opActive{
    color: #0E6F28;
    background-color: #fff;
    -webkit-text-stroke: 1px;
}

/*|--- -- MAIN - MAIN RIGHT -- ---|*/

.mainRight{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.mainRight .formContentAsk{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}  

.formContentAsk.hide{
    display: none;
}

.mainRight .ask{
    padding: 0 20px;
}

.mainRight .answer{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.mainRight .contentRight{
    border-radius: 15px;
    box-shadow: 0px 1px 3px #0e6f284f;
    padding: 20px 0;
}

.mainRight .formContentAsk .button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainRight .formContentAsk .button button{
    padding: 8px 40px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #0E6F28;
    font-weight: bolder;
    box-shadow: 1px 1px 3px #0e6f284f;
    cursor: pointer;
}

/*|--- -- MAIN - MAIN RIGHT - ASK -- ---|*/

.ask p{
    font-size: 17px;
    text-indent: -19px;
    margin-left: 19px;
}

/*|--- -- MAIN - MAIN RIGHT - ANSWER -- ---|*/

.answer .contentAnswer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}

.answer .contentAnswer span{
    margin-bottom: 10px;
}

.answer .contentAnswer input[type="radio"].custom-radio {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0E6F28;
    border-radius: 50%;
    cursor: pointer;
}

.answer .contentAnswer input[type="radio"].custom-radio:checked {
    background-color: #0E6F28;
}

.answer .contentAnswer input[type="radio"].custom-radio:focus {
    outline: none;
}

@media screen and (max-width: 1200px) {
    .mainLeft{
        width: 40%;
    }

    .mainRight{
        width: 60%;
    }
}

@media screen and (max-width: 780px) {
    .mainLeft picture img{
        width: 200px;
    }

    .mainLeft,
    .mainRight{
        width: 100%;
    }

    .mainLeft{
        margin-bottom: 20px;
    }

    main{
        flex-direction: column;
        align-items: center;
    }
}